
body{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#4695d6));
	background: -webkit-linear-gradient(top, #ffffff 50%,#4695d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 50%,#4695d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 50%,#4695d6 100%); /* IE10+ */
}
